<!-- main app container -->
<h4>Edit Lesson</h4>
<hr>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Lesson Name</label>
                        <input type="text" formControlName="lessonName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lessonName.errors }" 
                           />
                        <div *ngIf="submitted && f.lessonName.errors" class="invalid-feedback">
                            <div *ngIf="f.lessonName.errors.required">Lesson Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Audio</label>
                        <input type="file"  accept="audio/*" class="form-control" id="audioFilePath"
                            (change)="onFileSelected($event)"  />{{audiofilepath}}
                            <input type="hidden" name="fileHidden" formControlName="audioFilePath"/>
                        <div *ngIf="submitted && f.audioFilePath.errors" class="invalid-feedback">
                            <div *ngIf="f.audioFilePath.errors.required">Audio is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Summary</label>
                        <textarea type="text" formControlName="summary" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.summary.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.summary.errors" class="invalid-feedback">
                            <div *ngIf="f.summary.errors.required">Summary is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Challenge</label>
                        <textarea type="text" formControlName="challange" 
                         class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.challange.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.challange.errors" class="invalid-feedback">
                            <div *ngIf="f.challange.errors.required">challenge is required</div>
                            <!-- <div *ngIf="f.challenge.errors.challenge">challenge must be a valid challenge address</div> -->
                        </div>
                    </div> 
                     <div class="form-group">
                        <label>Sequence No</label>
                        <input type="text" formControlName="sequenceNo" class="form-control"
                        (change)="checkSequenceNo()"
                     [ngClass]="{ 'is-invalid': submitted && f.sequenceNo.errors }">
                        <div *ngIf="submitted && f.sequenceNo.errors" class="invalid-feedback">
                            <div *ngIf="f.sequenceNo.errors.required">Sequence No is required</div>
                            <!-- <div *ngIf="f.challenge.errors.challenge">challenge must be a valid challenge address</div> -->
                        </div>
                    </div> 
                      <div class="form-group">
                        <label>Status on Mobile App</label>
                        <!-- <input type="number" formControlName="status" class="form-control" min="0" max="1"
                            [ngClass]="{ 'is-invalid': submitted && f.status.errors }" placeholder=""> -->
                            <select class="form-control"  formControlName="status">
                                <option value="" disabled>ON/OFF on Mobile App</option>
                                <option [ngValue]="1">ON</option>
                                <option [ngValue]="0">OFF</option>
                            </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.challange.errors.required">Status is required</div>
                            <!-- <div *ngIf="f.challenge.errors.challenge">challenge must be a valid challenge address</div> -->
                        </div>
                    </div>
                    <hr>
                    <div formArrayName="responseYes">
                        <div *ngFor="let responseYes of editForm.get('responseYes')['controls']; let i=index">
                            <div>
                                <span>Response Yes {{i + 1}}</span>
                                <span *ngIf="editForm.get('responseYes').length > 1" (click)="removeResponseYes(i)">Remove
                                </span>
                            </div>
                            <div [formGroupName]="i">
                                <!--yes-->
                                <div>
                                    <label>Yes</label>
                                    <input type="text" formControlName="yes" class="form-control">
                                    <!--display error message if yes is not valid-->
                                    <small [hidden]="editForm.controls.responseYes.controls[i].controls.yes.valid">
                                        yes is required
                                    </small>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div formArrayName="responseNo">
                        <div *ngFor="let responseNo of editForm.get('responseNo')['controls']; let i=index">
                            <div>
                                <span>Response No {{i + 1}}</span>
                                <span *ngIf="editForm.get('responseNo').length > 1" (click)="removeResponseNo(i)">Remove
                                </span>
                            </div>
                            <div [formGroupName]="i">
                                <!--postcode-->
                                <div>
                                    <label>No</label>
                                    <input type="text" formControlName="no" class="form-control">
                                    <small [hidden]="editForm.controls.responseNo.controls[i].controls.no.valid">
                                        No is required
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-20">
                        <a (click)="addResponseYes()" style="cursor: default">
                            Add Yes Response +
                        </a>
                    </div> 
                    <div class="margin-20">
                        <a (click)="addResponseNo()" style="cursor: default">
                            Add No Response +
                        </a>
                    </div>
                      <hr>
                      <mat-progress-spinner *ngIf="isLoading"
                        mode="indeterminate" diameter='30' strokeWidth='10'>Please Wait...</mat-progress-spinner>
                    <div class="form-group" *ngIf="!isLoading">
                        <button class="btn btn-primary">Update Lesson</button>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>