<div class="row">
    <div class="col-md-6">
        <h4> Add Lesson</h4>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-danger float-right " [routerLink]="['/manageLesson']">
            Manage Lesson </button>
    </div>
</div>
<hr>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <form [formGroup]="addLesson" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label> Lesson Name</label>
                        <input type="text" formControlName="lessonName"  class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lessonName.errors }" />
                        <div *ngIf="submitted && f.lessonName.errors" class="invalid-feedback">
                            <div *ngIf="f.lessonName.errors.required">Lesson Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Audio</label>
                        <input type="file" formControlName="audioFilePath" accept="audio/*" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.audioFilePath.errors }"
                            (change)="onFileSelected($event)" />
                        <div *ngIf="submitted && f.audioFilePath.errors" class="invalid-feedback">
                            <div *ngIf="f.audioFilePath.errors.required">Audio is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Summary</label>
                        <textarea type="text" formControlName="summary" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.summary.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.summary.errors" class="invalid-feedback">
                            <div *ngIf="f.summary.errors.required">Summary is required</div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label>Challenge</label>
                        <textarea  formControlName="challange" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.challange.errors }"></textarea>
                        <div *ngIf="submitted && f.challange.errors" class="invalid-feedback">
                            <div *ngIf="f.challange.errors.required">challenge is required</div>
                            <!-- <div *ngIf="f.challenge.errors.challenge">challenge must be a valid challenge address</div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sequence No</label>
                        <input type="number" formControlName="sequenceNo" class="form-control" 
                          min="1"  [ngClass]="{ 'is-invalid': submitted && f.sequenceNo.errors }"
                          (change)="checkSequenceNo()" >
                        <div *ngIf="submitted && f.sequenceNo.errors" class="invalid-feedback">
                            <div *ngIf="f.sequenceNo.errors.required">Sequence No is required</div>
                            <!-- <div *ngIf="f.challenge.errors.challenge">challenge must be a valid challenge address</div> -->
                        </div>
                    </div>
                    <hr>
                    <div formArrayName="responseYes">
                        <div *ngFor="let responseYes of addLesson.get('responseYes')['controls']; let i=index">
                            <div>
                                <span>Response Yes {{i + 1}}</span>
                                <span *ngIf="addLesson.get('responseYes').length > 1" (click)="removeResponseYes(i)">Remove
                                </span>
                            </div>
                            <div [formGroupName]="i">
                                <!--yes-->
                                <div>
                                    <label>Yes</label>
                                    <input type="text" formControlName="yes" class="form-control">
                                    <!--display error message if yes is not valid-->
                                    <small [hidden]="addLesson.controls.responseYes.controls[i].controls.yes.valid">
                                        yes is required
                                    </small>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div formArrayName="responseNo">
                        <div *ngFor="let responseNo of addLesson.get('responseNo')['controls']; let i=index">
                            <div>
                                <span>Response No {{i + 1}}</span>
                                <span *ngIf="addLesson.get('responseNo').length > 1" (click)="removeResponseNo(i)">Remove
                                </span>
                            </div>
                            <div [formGroupName]="i">
                                <!--postcode-->
                                <div>
                                    <label>No</label>
                                    <input type="text" formControlName="no" class="form-control">
                                    <small [hidden]="addLesson.controls.responseNo.controls[i].controls.no.valid">
                                        No is required
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-20">
                        <a (click)="addResponseYes()" style="cursor: default">
                            Add Yes Response +
                        </a>
                    </div> 
                    <div class="margin-20">
                        <a (click)="addResponseNo()" style="cursor: default">
                            Add No Response +
                        </a>
                    </div>
                    <hr>
                    <mat-progress-spinner *ngIf="isLoading"
                    mode="indeterminate" diameter='30' strokeWidth='10'></mat-progress-spinner>
                    <div class="form-group" *ngIf="!isLoading">
                        <button class="btn btn-primary">Add Lesson</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>