<div class="row">
  <div class="col-md-6">
    <h4>Quiz Feedback</h4>
  </div>
  <!-- <div class="col-md-6">
      <button type="button" class="btn btn-danger float-right " [routerLink]="['/lesson']">
        Add Lesson </button>
    </div> -->
</div>
<hr>
<div class="container">
  <!-- No data message -->
  <p *ngIf="feedbackData.length <= 0" class="no-data text-center">There is no feedbackData added yet!</p>

  <!-- feedbackData list -->
  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created At</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of feedbackData.quizfeedback | paginate:{ itemsPerPage: 10, currentPage: p };let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data.createdAt | date: 'dd/MMM/yyyy'}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>
          <div *ngFor="let data1 of feedbackData.quizfeedback[i].data;let j=index">
           {{j+1}}- {{data1.fullQuestion}}
          </div>
        </td>
        <td>
          <div *ngFor="let data1 of feedbackData.quizfeedback[i].data;let k=index">
            {{k+1}}- {{data1.response}}
          </div>
        </td>

      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>