<div class="row">
  <div class="col-md-6">
    <h4> Manage Lesson</h4>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-danger float-right " [routerLink]="['/lesson']">
      Add Lesson </button>
  </div>
</div>
<hr>
<div class="container">
    <!-- No data message -->
    <!-- <p *ngIf="lessonData.length <= 0" class="no-data text-center">There is no lessonData added yet!</p> -->
  
    <!-- lessonData list -->
    <table class="table table-bordered" >
      <thead class="table-success">
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">id</th> -->
          <th scope="col">Lesson Name</th>
          <th scope="col">Summary</th>
          <th scope="col">Challange</th>
          <th scope="col">Sequence No</th>
          <th scope="col">Response</th>
          <th scope="col">Status</th>
          <th scope="col center">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of lessonData.posts | paginate:{ itemsPerPage: 10, currentPage: p };let i = index">
          <th scope="row">{{i+1}}</th>
          <!-- <th scope="row">{{data._id}}</th> -->
          <td>{{data.lessonName}}</td>
          <!-- <td><span [innerHTML]="data.summary| safeHtml"></span></td> -->
          <td>{{data.summary}}</td>
          <td>{{data.challange}}</td>
          <!-- <td > <span [innerHTML]="data.challange| safeHtml"></span></td> -->
          <td >{{data.sequenceNo}}</td>
          <td ><div *ngFor="let responseYes of lessonData.posts[i].responseYes;let j = index ">
          <span>Yes:-{{responseYes.yes}}</span>
        </div> 
          <div *ngFor="let responseNo of lessonData.posts[i].responseNo">
            <span>No:-{{responseNo.no}}</span>
          </div><br>
          </td>
          <td><span *ngIf="data.status==1">ON</span>
            <span *ngIf="data.status==0">OFF</span></td>
          <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/edit-lesson/', data._id]">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>
            <span class="delete" (click)="removelessonData(data,i)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>